<div class="container">
	<div class="main_bar">
		<%= link_to root_path do %>
				<%= image_tag("LOGO.png", class:"main_logo") %>
		<% end %>
 	  <% if current_admin %>
 	   <div class="login_info">
   		 <p><%= link_to "NEW PRODUCT", new_product_path %></p> 	   
   		 <p><%= link_to "LOG OUT", log_out_path %> </p>
   	   </div>
  	  <% else %>
		<p class="main_tagline"> all products are animal-free </p>
	  <% end %>
	</div>
	<div class="nav_bar">
	 <%= link_to men_path do %>
		<p>MEN</p>
	 <% end %>
	 <%= link_to women_path do %>
		<p>WOMEN</p>
	 <% end %>
	 <%= link_to about_path do %>
		<p>ABOUT</p>
	 <% end %>
   </div>
</div>