<%= render 'pages/mainbar' %>


	<div id="container">

		<%= image_tag("what_is_us.png", class: "what_is_us") %>

	<p class="what_is_us">
		We scour the internet finding the latest fashionable items that are made out of faux leather. <br/><br/>
		We strive to make sure that <em>NO ANIMALS</em> have been killed in the making of these products.   
	</p>
		<p id="contact_me"> 
			If there are any questions, you can reach us directly at comebacknader@gmail.com 
		</p>


		<%= image_tag("what_is_faux.png", class: "what_is_faux_img") %>


	
	<p class="what_is_faux">
		The term pleather ("plastic leather") is a slang term for synthetic leather made of plastic. The term 
		was coined by Amy Bach, when working in New York for Millis clothing. Upon the arrival of a new 
		line, a plastic leather, Bach needed a way to advertise the product to customers without calling it 
		plastic. She thus came up with the term Pleather. A portmanteau of plastic and leather, the term is 
		sometimes used derogatorily, implying a cost-cutting ersatz for genuine hide. 
		<br/><br/>
		Besides cost, pleather may also be preferred because it is lighter than leather, or as an alternative
		to real leather citing reasons of animal cruelty. Pleather, being made of plastic, will not decompose
		as quickly.
		<br/><br/>
		Not all pleathers are the same. Polyurethane is washable, can be dry-cleaned and allows some air
		to flow through the garment. PVC leather in contrast does not "breathe" and is 
		difficult to clean. PVC cannot be dry-cleaned because the cleaning solvents can make the PVC 
		unbearably stiff.
		<br/><br/>
		Read more at <a href="http://en.wikipedia.org/wiki/Artificial_leather" target="_blank">Wikipedia...</a>
	</p>


	<div class="mail_container">
  		<%= render 'layouts/mailchimp' %>
	</div>

	<%= render 'pages/footer' %>

	</div>