<%= render 'pages/mainbar' %>


	<div id="container">
		<%= image_tag("what_is_faux.png", class: "what_is_faux_img") %>
	
	<p class="what_is_faux">

		<em><strong>
		"not all Faux Leathers are created equal" 
		</strong></em>
		<br/><br/>
		Faux Leather, also known as "pleather", refers to a material that isn't leather, but is made to look as if it were leather. Faux leather is about as vague as you can get when referring to animal-free leather. Is it polyurethane? Is it PVC? Is it Vegan leather? Is it polyester? All of the above?
		<br/><br/>
		A piece of clothing or furniture can allude to many different materials. Faux Leather could be referring to clothing made out of polyurethane, PVC, synthetic materials, or a mixture of different materials that at the very least are not leather.  
		<br/><br/>
		FAKE COW tries to make sure that everything we find on the web that we post on our site is not leather and has NO leather mixed into the piece of clothing or furniture. We always recommend our cusomters to do additional research if they feel skeptical because at the end of the day we aren't perfect and some things slip past us.  
		<br/><br/>
	</p>

	<%= render 'pages/leathernav' %>

	<div class="mail_container">
  		<%= render 'layouts/mailchimp' %>
	</div>

	<%= render 'pages/footer' %>

	</div>