  <%= render 'pages/mainbar' %>


	<div id="container">

  <%= render 'pages/health_nav' %>

  <div id="health_features">
   <% @articles.each do |article| %>
    <%= link_to article do %>
			<%= image_tag("carrot_test.jpg", class: "health_img") %>
    <% end %>
   <% end %>
		</div>

  <% @juicers.each do |juicer| %>
  <%= link_to juicer do %>
  <div class="each_juicer_sidebar">
   <div classs="each_product_image">
    <%= image_tag(juicer.photo, class: "each_product_img") %>
   </div>
  <% end %> 
   <div class="each_juicer_info">
    <p> <%= juicer.brand %> <%= juicer.title %> </p>
    <p> <%= juicer.price %> </p>
   </div>   
  </div>
  <% end %>  
  
	<div class="mail_container">
  		<%= render 'layouts/mailchimp' %>
	</div>

	<%= render 'pages/footer' %>

	</div>