<%= render 'pages/mainbar' %>


<div class="container">
  <div class="all_products">
	<% @products.each do |product| %>
	<%= link_to product do %>
	<div class="each_product">
	 <div class="each_product_image">
		<%= image_tag(product.photo(:small)) %>
	 </div>
	<% end %> 
	 <div class="each_product_info">
		<p> <%= product.brand %> <%= product.title %> </p>
		<p> <%= product.price %> </p>
	 </div>	 	
	</div>
	</div>
	<% end %>
</div>