<div id="container">

<%= render 'pages/navbar' %>

<div id="home_box">
  <div id="all_products">
	<% @products.each do |product| %>
	<%= link_to product do %>
	<div class="each_product">
	 <div classs="each_product_image">
		<%= image_tag(product.photo(:large), class: "each_product_img") %>
	 </div>
	<% end %> 
	 <div class="each_product_info">
	  <%= link_to product do %>
	  <% name = product.brand + product.title %>
		<p id="each_product_brand"> <%= truncate(name.upcase, length: 50) %> </p>
		<p> <%= product.price %> </p>
	  <% end %>		
	 </div>	 	
	</div>
	<% end %>	
 </div> <!-- This ends all_products -->

	 <div class="will_paginate">
		 <%= will_paginate @products %>
	 </div>

	<%= render 'pages/footer' %>	
 </div> <!-- This ends home_box -->

</div>
