<%= render 'pages/mainbar' %>


	<div id="container">
		<%= image_tag("polyurethane.png", class: "what_is_faux_img") %>
	
	<p class="what_is_faux">

		The standard definition of 'polyurethane' is something along the lines of <em>"a synthetic resin in which the polymer units are linked by urethane groups" </em>. So what is polyurethane clothing? 
		<br/><br/>
		Scientists discovered that polyurethanes could be made into different fine threads and the ability to create lightweight, flexible materials with polyurethane found its way into the clothing industry. Many pieces of clothing today have a polyurethane coating that can be molded and formed over many different shapes and surfaces. <br/><br/>

		Polyurethane clothing is very strong and is known for it's abrasion resistance. The fabric of polyurethane clothing is light, breathable, and is an insulator of heat and when it is used as a substitute for leather, polyurethane clothing is able to imitate the stretch, stiffness and malleability of leather. 
		<br/><br/>
		Polyurethane as a resource has been lauded as an environmentally friendly resource that is able to insulate and conserve energy better than other substances, and so there has been a push to use polyurethane in many aspects of society. Polyurethane clothing is a step in the right direction in regards to eco-friendly initiatives, especially when you consider the devastating effects that leather has on the environment. 
		<br/><br/>
		When purchasing polyurethane clothing, be sure to read the details of the item you are interested in buying. Some articles of clothing say "man-made" but you may find that they are actually a blend of polyurethane and genuine leather. In our experience, we've found that most companies will give you a percentage of the materials in the clothes. We try our best in hand-selecting the products and reading the details of the product, but sometimes false advertising gets the better of us. 
		<br/><br/>
		What was once seen as a cheap alternative is quickly growing into a fashionable trend wherein many fashion designers are adopting polyurethane as a substitute for leather. Stores such as Zara, H&M, and many more are stocking up their lines with polyurethane and we at FAKE COW couldn't be happier! 
		<br/><br/>
	</p>

	<%= render 'pages/leathernav' %>

	<div class="mail_container">
  		<%= render 'layouts/mailchimp' %>
	</div>

	<%= render 'pages/footer' %>

	</div>