<%= render 'pages/mainbar' %>


  <div id="container">
  <%= render 'pages/health_nav' %>

  <div id="health_features">
			<%= image_tag("carrot_test.jpg", class: "health_img") %>
		</div>

	<div class="mail_container">
  		<%= render 'layouts/mailchimp' %>
	</div>

	<%= render 'pages/footer' %>

	</div>