<%= render 'pages/mainbar' %>


<div id="container">
  <div id="all_products">
	<% @products.each do |product| %>
	<%= link_to product do %>
	<div class="each_product">
	 <div classs="each_product_image">
		<%= image_tag(product.photo, class: "each_product_img") %>
	 </div>
	<% end %> 
	 <div class="each_product_info">
		<p> <%= product.brand %> <%= product.title %> </p>
		<p> <%= product.price %> </p>
	 </div>	 	
	</div>
	<% end %>	
 </div>

 <div class="mail_container">
  <%= render 'layouts/mailchimp' %>
</div>

<%= render 'pages/footer' %>

</div>