<%= render 'pages/mainbar' %>


<div id="container">
<%= render 'pages/health_nav' %>

  <div id="all_juicers">
	<% @juicers.each do |juicer| %>
	<%= link_to juicer do %>
	<div class="each_juicer">
	 <div classs="each_juicer_image">
		<%= image_tag(juicer.photo(:small), class: "each_juicer_img") %>
	 </div>
	<% end %> 
	 <div class="each_juicer_info">
		<p> <%= juicer.brand %> <%= juicer.title %> </p>
		<p> <%= juicer.price %> </p>
	 </div>	 	
	</div>
	<% end %>	
 </div>
</div>