<%= render 'pages/mainbar' %>

<div class="container">

	<div class="show_product_box">
			
			<%= image_tag(@product.photo(:medium), class:"show_product_image") %>
			
			<div class="show_product_info">
				<p class="show_product_header"> <%= @product.brand %> </p>
				<p  class="show_product_title"> <%= @product.title %> </p>
				<p class="show_product_price"> <%= @product.price %> </p>
				<p  class="show_product_description"> <%= @product.description %> </p>

			<%= link_to @product.link, :target => "_blank" do %>
				<div class="show_product_link">
						CHECK IT OUT 
				</div>
			<% end %>
			<% if current_admin %>
			<%= button_to "delete", {:controller => :products,
			      :action => 'destroy', :id => @product.id }, :method => :delete, class:"delete_product" %>
			<% end %>
			</div>
	</div>

  <div id="last_three_all">
	<% @products.each do |product| %>
	<%= link_to product do %>
	<div class="last_three_each_product">
	 <div classs="last_three_each_product_image">
		<%= image_tag(product.photo(:small), class: "last_three_each_product_img") %>
	 </div>
	<% end %> 
	 <div class="last_three_each_product_info">
		<p> <%= product.brand %> <%= product.title %> </p>
		<p> <%= product.price %> </p>
	 </div>	 	
	</div>
	<% end %>
</div>

	<div class="mail_container">
	  <%= render 'layouts/mailchimp' %>
	</div>

	<%= render 'pages/footer' %>

</div>