<div id="container">
  <%= render 'pages/navbar' %>

   <div id="home_box">
	<div class="show_product_box">
			
			<%= image_tag(@product.photo(:large), class:"show_product_image") %>
			
			<div class="show_product_info">
				<p class="show_product_header"> <%= @product.brand %> </p>
				<p  class="show_product_title"> <%= @product.title %> </p>
				<p class="show_product_price"> <%= @product.price %> </p>
				<p  class="show_product_description"> <%= @product.description.gsub(/\n/, '<br/>').html_safe %> </p>

			<%= link_to @product.link, :target => "_blank" do %>
				<div class="show_product_link">
						BUY at <%= @product.store %> 
				</div>
			<% end %>
			<% if current_admin %>
			<%= button_to "delete", {:controller => :products,
			      :action => 'destroy', :id => @product.id }, :method => :delete, class:"delete_product" %>
			<% end %>
			</div>
	</div>

	  <div id="last_three_all">
		<% @products.each do |product| %>
		<%= link_to product do %>
		<div class="last_three_each_product">
		 <div classs="last_three_each_product_image">
			<%= image_tag(product.photo(:small), class: "last_three_each_product_img") %>
		 </div>
		<% end %> 
		 <div class="last_three_each_product_info">
		<p id="each_product_brand"> <%= product.brand.upcase %> <%= truncate(product.title.upcase, length: 40) %> </p>
		<p> <%= product.price %> </p>
		 </div>	 	
		</div>
		<% end %>
	   </div>
	<%= render 'pages/footer' %>
	</div>
</div>
